@use 'props';

:root {
    font-family: props.$font-family;
}

h1 {
    color: props.$h1-color;
}

// elements nested in a parent selector are expanded to [parent] [this]
ul.march {
    li {
        color: red;
        display: inline-block;
        border: solid thin black;
        padding: 0.1em;
    }
}

ul.feb {
    li {
        color: blue;
        display: block;
        border: dotted medium green;
        margin: 0.5em;
    }
}
